@charset "UTF-8";
/* CSS Document */

/*Bug Page CSS*/
#bug-page{
	background-image: url("images/bug.jpg");
}
#bug-page #modal-content{
	text-align: center
}

#bug-page #modal-content img{
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-bottom: 5%
}

#bug-page button{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	margin: 0;
	padding: 0;
	/*font-size: 3vh; */
}

/*Landing Page CSS*/
#landingModal {
	position: fixed; /* Stay in place */
	display: block;
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: scroll; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* CSS for email*/
#email-container {
	padding: 0 20px;
	width: 90vw;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	display: grid;
	grid-template-areas:
		'header header header header header header header header  header header header'
		'nav-column emails emails emails emails emails emails emails emails emails emails'
		'footer footer footer footer footer footer footer footer footer footer footer';
}

#email-header{
	grid-area: header;
}

#banner-notif{
	/*height: 4vh; */
	min-height: 20px;
	max-height: 20px;
	padding: 7px;
	background-color: orange;
	color: black;
	overflow: hidden;
}

#footer {
	grid-area: footer;
	text-align: center;
	margin: 1vh;
	font-size: 2vh;
}

#email-header #logo{
	font-size: 50px;
	float: left;
	margin-left: 10px;
}

#email-header #logo a{
	text-decoration: none;
	color: black;
}

#email-header .search-container{
	display: inline;
}

#email-header .search-container button, input{
	height: 40px;	
	margin: 50px 0 0 40px;
}

#email-header .search-container input{
	width: 200px;
	padding: 0 10px;
}

#email-header .search-container button{
	margin-left: 10px;
}

#nav-column {
	float: left;
	overflow: hidden;
	clear: both;
	grid-area: nav-column;
	min-width: 100px;
}

#nav-column ul {
	list-style-type: none;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

#nav-column li {
	height: 30px;
	margin: 0;
}

#nav-column a{
	margin: 0px;
	padding-left: 10px;
}

#nav-column .active {
	background-color: #9FCCFF;
}

#emails {
	width: auto;
	float: left;
	border-top: 25px solid #9FCCFF;
	border-left: 10px solid #9FCCFF;
	border-bottom: 25px solid #9FCCFF;
	grid-area: emails;
}

table {
	width: 100%;
}

table, tr, td{
	border-bottom: 1px solid gray;
	overflow: hidden;
	white-space: nowrap;
}
.email-prev:hover, #back-link:hover{
	cursor: pointer;
}

.visited {
	background-color: lightblue;
}

/*.email-prev:visited {
	background-color: gray;
} */

.email-prev .from{
	width: 25%;
	padding-left: 10px;
}

.email-prev .preview{
	width:75%;
	color: blue;
}

.email-prev .time{
	padding-right: 10px;
}



/*pulled from w3schools*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: scroll; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
	background-color: #fefefe;
	margin: 10% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 60%; /* Could be more or less, depending on screen size */
}
/*end of content from w3schools*/

#modal-content #back-link{
	font-size: 10px;
	text-decoration: underline;
	color: blue;
}

#modal-content #email{
	font-size: 12px;
	line-height: 14px;
}

#modal-content #sender{
	line-height: 10px;
}