@charset "UTF-8";
/* CSS Document */

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	margin: 0;
	padding: 0;
	font-size: 3vh;
}


/* CSS for email*/
#email-container {
	padding: 0 20px;
	width: 95vw;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#banner-notif{
	/*height: 4vh; */
	min-height: 20px;
	max-height: 20px;
	padding: 7px;
	background-color: orange;
	color: black;
	overflow: hidden;
}

#email-header #logo{
	font-size: 50px;
	float: left;
	margin-left: 10px;
}

#email-header #logo a{
	text-decoration: none;
	color: black;
}

#email-header .search-container{
	display: inline;
}

#email-header .search-container button, input{
	height: 40px;	
	margin: 50px 0 0 40px;
}

#email-header .search-container input{
	width: 200px;
	padding: 0 10px;
}

#email-header .search-container button{
	margin-left: 10px;
}

#nav-column {
	float: left;
	width: 10%;
	min-width: 150px;
	clear: both;
	margin-left: -20px;
}

#nav-column ul {
	list-style-type: none;
	margin: 0;
}

#nav-column li {
	height: 30px;
}

#nav-column a{
	margin-left: 10px;
}

#nav-column .active {
	background-color: #9FCCFF;
}

#emails {
	width: 85%;
	float: left;
	border-top: 25px solid #9FCCFF;
	border-left: 10px solid #9FCCFF;
	border-bottom: 25px solid #9FCCFF;
}

table, tr, td{
	border-bottom: 1px solid gray;
}

.email-prev:hover, #back-link:hover{
	cursor: pointer;
}

.email-prev:visited {
	background-color: gray;
}

.email-prev .from{
	width: 25%;
	overflow: hidden;
	padding-left: 10px;
}

.email-prev .preview{
	width:75%;
	overflow: hidden;
	color: blue;
}

.email-prev .time{
	padding-right: 10px;
}

/*pulled from w3schools*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: scroll; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
	background-color: #fefefe;
	margin: 10% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 60%; /* Could be more or less, depending on screen size */
}
/*end of content from w3schools*/

#modal-content #back-link{
	font-size: 10px;
	text-decoration: underline;
	color: blue;
}

#modal-content #email{
	font-size: 12px;
	line-height: 14px;
}

#modal-content #sender{
	line-height: 10px;
}